body {
	background-color: SteelBlue;
}

img {
	max-width: 75%;
	width: 25%;
	height: auto;
}

h1 {
	color: Cyan;
	text-align: center;
	font: Verdana;
	font-size: 50;
}

h2 {
	color: Silver;
	text-align: center;
	font: Verdana;
	font-size: 14;
}

p {
	text-align: center;
	font: Verdana;
	font-size: 8;
}

fieldset {
	display: inline-block;
	border: 2px solid silver;
}
