div {
	white-space: pre-wrap;
	word-break: keep-all;
	background-color: white;
	margin: 30px;
	border: 2px silver;
	padding: 30px;
	height: 100%;
	width: 75%;
}

body {
	background-color: darkslategray;
}

img {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
}

h1, h2, p {
	text-align: center;
	font-family: "Verdana", "Geneva", "sans-serif";

h1 {
	color: cyan;
	font-size: 50px;
}

h2 {
	color: silver;
	font-size: 14px;
}

p {
	font-size: 8px;
}

input[type=text] {
	text-align: center;
}

input[type=submit] {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: 2px black;
	cursor: pointer;
}
