.body {
	border-style: solid;
	border-width: 5px;
	border-color: Transparent black Transparent black;
	word-break: keep-all;
	background-color: white;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 50px;
	margin-right: 50px;
	padding: 30px;
	height: auto;
	width: auto;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

.email {
	display: block;
	text-align: center;
	background-color: silver;
	border-style: dotted;
	border-color: black;
	border-width: 2px;
	padding: auto;
	max-width: 100px;
	min-width: 50px;
}
	
body {
	background-color: silver;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	height: auto;
}

h1 {
	font-family: "Josefin Sans";
	color: cyan;
	font-size: 50px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h2 {
	font-family: "Josefin Sans";
	color: darkgray;
	font-size: 20px;
	min-width: 300px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

p {
	min-width: 300px;
	max-width: 600px;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}

.inputbox {
	text-align: center;
}

.button {
	border: solid;
	border-color: cyan;
	border-width: 2px;
	font-family: Verdana, Geneva, sans-serif;
	background: none;
	background-repeat: no-repeat;
	border: 2px black;
	cursor: pointer;
}
